<!DOCTYPE html>
<html>
<head>

    <title>Holly Mills</title>
    <link href="/styles.css" rel="stylesheet">
</head>
<body>
    <h1>Holly Mills</h1>
    <img src="/images/headshot.jpg" alt="my picture" width="275" height="400" class="headshot"/>

    <div class="intro">
        resume intro, my name is Holly Hello.
    </div>
</body>
</html>