<!DOCTYPE html>
<html>
<head>

    <title>Holly Mills</title>
    <link href="/styles.css" rel="stylesheet">
</head>
<body>
    <h1>Work in progress!</h1>
    <img src="headshot.jpg" alt="my picture" />
</body>
</html>